/node_modules
/public/hot
/public/storage
/public/tenants
/storage/*.key
/vendor
/storage
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
telegram/session_telegram.session

# Python build artifacts & runtime logs
pyhton/__pycache__/
pyhton/logs/
pyhton/*.pyc
pyhton/*.bax_.py
